<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<script>
    document.getElementById('inputbox').addEventListener('keyup', function(event) {
    if (event.code === 'Enter') {
      event.preventDefault();
      document.querySelector('form').submit();
    }
    });
</script>
<style>
    .word input {
    width: calc(100% - 10px);
    line-height: 2;
    font-size: 46px;
    }
    a {
    text-decoration:none;
    }
</style>
</head>
<body>
<div style="font-size:3vw;">
    <form action="#" method="post" th:action="@{/}" th:object="${word}">
        <div class="word"><input autocomplete="off" autofocus id="inputbox" th:field="*{word}" type="text"/>
        </div>
    </form>
    </br>
    <div th:if="${prevWord}">
        <div>Definition of <a target="_blank" referrerpolicy="no-referrer" rel="noreferrer"
                              th:href="@{https://www.collinsdictionary.com/dictionary/english/{word}(word=${prevWord})}"
                              th:text="${#strings.capitalize(prevWord)}">
        </a>
        </div>
    </div>
    </br>
    <tr th:each="definition: ${definitions}">
        <td th:text="${definitionStat.count} +'. ' + ${definition}"/>
        </br></br>
    </tr>
</div>
</body>
</html>