<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<script>
    if(document.getElementById('inputbox')) {
    document.getElementById('inputbox').addEventListener('keyup', function(event) {
    if (event.code === 'Enter') {
      event.preventDefault();
      document.querySelector('form').submit();
    }
    });
    }
</script>
<style>
    .word input {
    width: calc(100% - 11px);
    line-height: 2;
    font-size: 46px;
    }
    a {
    text-decoration:none;
    }
    div {
    padding: 5px 5px 5px 5px;
    }
    th, td {
    padding: 5px;
    }
</style>
</head>
<body>
<div style="font-size:3.2vw;">
    <form action="#" method="post" th:action="@{/}" th:object="${word}">
        <div class="word"><input autocomplete="off" autofocus id="inputbox" th:field="*{word}" type="text"/>
        </div>
    </form>
    <div style="font-size: 2.5vw;" th:if="${prevWord}">
        <div th:text="'Definition of ' + ${#strings.capitalize(prevWord)}"></div>
        <table>
            <tr>
                <td><a referrerpolicy="no-referrer" rel="noreferrer" target="_blank"
                       th:href="@{https://www.google.com/search?q=define: {word}(word=${prevWord})}"
                       th:text="${'Google'}">
                </a></td>
                <td><a referrerpolicy="no-referrer" rel="noreferrer"
                       target="_blank"
                       th:href="@{https://www.collinsdictionary.com/dictionary/english/{word}(word=${prevWord})}"
                       th:text="${'Collin'}">
                </a></td>
                <td><a referrerpolicy="no-referrer" rel="noreferrer" target="_blank"
                       th:href="@{https://dictionary.cambridge.org/us/dictionary/english/{word}(word=${prevWord})}"
                       th:text="${'Cambridge'}">
                </a></td>
                <td>
                    <a referrerpolicy="no-referrer" rel="noreferrer" target="_blank"
                       th:href="@{https://www.google.com/search?q=How to pronounce {word}(word=${prevWord})}"
                       th:text="${'Pronunciation'}">
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <tr th:each="definition: ${definitions}">
            <td th:text="${definitionStat.count} +'. ' + ${definition}"/>
            </br>
        </tr>
    </div>
</div>
</body>
</html>